@page "/AccountPoints"
@rendermode InteractiveServer
@inject IDbContextFactory<ApplicationDbContext> DbFactory;

<PageTitle>Account Payments Points</PageTitle>

<h1>Account Payments Points</h1>

<div class="form-style">
	<form @onsubmit=Submit>
		<input type="text" maxlength="11" pattern="[0-9]{11}" title="11-digit mobile no" placeholder="mobile no" @bind="mobileNo" required/>

		<button type="submit">Submit</button>
	</form>
</div>

<div class="table-container">


    <table class="styled-table">
        <thead>
            <tr>
                <th>Number Of Payment IDs</th>
                <th>Total Points</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in accountPaymentPointsResults)
            {
                <tr>
                    <td>@account.NumberOfPaymentID</td>
                    <td>@account.TotalPoints</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private List<AccountPaymentPointsResult> accountPaymentPointsResults = new();
    private bool isLoading = true;
    public string? mobileNo;

    public async void Submit() {
        using var context = DbFactory.CreateDbContext();
        accountPaymentPointsResults = await context.Database.SqlQuery<AccountPaymentPointsResult>($"execute Account_Payment_Points {mobileNo}").ToListAsync();
        Console.WriteLine("done");
        StateHasChanged();
    }
}
