@page "/BenefitsAccountView"
@rendermode InteractiveServer
@inject IDbContextFactory<ApplicationDbContext> DbFactory;

<PageTitle>Benefits Account</PageTitle>

<h1>Benefits Account</h1>

<div class="form-style">
	<input type="text" placeholder="mobile no" @bind="inputMobileNo" />
	<input type="number" placeholder="plan id" @bind="inputPlanID" />

	<button @onclick=Submit>Submit</button>
</div>



<div class="table-container">
    <p>Wont tell you if it's done</p>
</div>

@code {
    string inputMobileNo;
    int inputPlanID;
    bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        loading = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
    }

    async void Submit()
    {
		using var context = DbFactory.CreateDbContext();
		var rowsAffected = await context.Database.
			ExecuteSqlAsync(
				$"exec Benefits_Account {inputMobileNo}, {inputPlanID}"
			);

		loading = false;

		StateHasChanged();
	}
}
