@page "/HomeAdmin"
@inject IJSRuntime JSRuntime

<PageTitle>Home Admin</PageTitle>

<h1 class="home">Notaphone</h1>

<h2>Admin</h2>

<div>
    <img style="margin: 0 auto; display: block; width: 300px; height: 300px;" src="Notaphone_slogan.png" alt="slogan" />
</div>
