@page "/MobileAccount"
@rendermode InteractiveServer
@inject IDbContextFactory<ApplicationDbContext> DbFactory;

<PageTitle>Account Has Wallet</PageTitle>

<h1>Account Has Wallet</h1>

<div class="form-style">
	<form @onsubmit=Submit>
		<input type="text" maxlength="11" pattern="[0-9]{11}" title="11-digit mobile no" placeholder="mobile no" @bind="mobileNo" required/>

		<button type="submit">Submit</button>
	</form>
</div>


<div class="table-container">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Has Wallet</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var wallet in hasWallet)
            {
                <tr>
                    <td>@wallet</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private List<Boolean> hasWallet = new();
    public string? mobileNo;

    private async Task Submit()
    {
        using var context = DbFactory.CreateDbContext();

        var result = await context.Database
            .SqlQuery<Boolean?>(
                $"SELECT dbo.Wallet_MobileNo({mobileNo})"
            )
            .ToListAsync();

        hasWallet = result.Select(amount => amount ?? false).ToList();

        StateHasChanged();
    }
}
