<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Notaphone</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/HomeCustomer" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ServicePlanView" Match="NavLinkMatch.All">
                <span class="bi bi-telephone add-padding" aria-hidden="true"></span> Service Plans
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ConsumptionRetrieve" Match="NavLinkMatch.All">
                <span class="bi bi-graph-up add-padding" aria-hidden="true"></span> Consumption
             </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/UnsubscribedPlansRetrieve" Match="NavLinkMatch.All">
                <span class="bi bi-view-list add-padding" aria-hidden="true"></span> Unsubscribed Plans
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/PlanUsageShow" Match="NavLinkMatch.All">
                <span class="bi bi-clipboard-data add-padding" aria-hidden="true"></span> Current Plan Usage
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/WalletCashbackView" Match="NavLinkMatch.All">
                <span class="bi bi-cash add-padding" aria-hidden="true"></span> Wallet Transactions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/AllBenefits" Match="NavLinkMatch.All">
                <span class="bi bi-plus add-padding" aria-hidden="true"></span> Active Benefits
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/NotResolvedTickets" Match="NavLinkMatch.All">
                <span class="bi bi-ticket add-padding" aria-hidden="true"></span> Not Resolved Tickets
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/HighestVoucher" Match="NavLinkMatch.All">
                <span class="bi bi-receipt add-padding" aria-hidden="true"></span> Highest Voucher's ID
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/RemainingAmount" Match="NavLinkMatch.All">
                <span class="bi bi-journal-minus add-padding" aria-hidden="true"></span> Remaining Amount
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ExtraAmount" Match="NavLinkMatch.All">
                <span class="bi bi-journal-plus add-padding" aria-hidden="true"></span> Extra Amount
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/TopTenPayments" Match="NavLinkMatch.All">
                <span class="bi bi-1-square-fill me-1 add-padding" aria-hidden="true"></span> Top 10 Payments
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ViewAllShops" Match="NavLinkMatch.All">
                <span class="bi bi-cart add-padding" aria-hidden="true"></span> All Shops
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/PastService5" Match="NavLinkMatch.All">
                <span class="bi bi-card-text add-padding" aria-hidden="true"></span> Subscribed plans
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/RenewTheSubscription" Match="NavLinkMatch.All">
                <span class="bi bi-file-arrow-up add-padding" aria-hidden="true"></span> Renew Subscription
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/CalculateCashback" Match="NavLinkMatch.All">
                <span class="bi bi-currency-dollar add-padding" aria-hidden="true"></span> Calculate Cashback
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/BalanceRecharge" Match="NavLinkMatch.All">
                <span class="bi bi-lightning-charge-fill add-padding" aria-hidden="true"></span> Balance Recharge
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/RedeemVoucher" Match="NavLinkMatch.All">
                <span class="bi bi-gift-fill add-padding" aria-hidden="true"></span> Redeem Voucher
            </NavLink>
        </div>
    </nav>
</div>

