<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Notaphone</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/CustomerWalletView" Match="NavLinkMatch.All">
                <span class="bi bi-wallet2 add-padding" aria-hidden="true"></span> Customer Wallets
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/EShopVoucherView" Match="NavLinkMatch.All">
                <span class="bi bi-bag add-padding" aria-hidden="true"></span> E-shop Vouchers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/AccountPaymentView" Match="NavLinkMatch.All">
                <span class="bi bi-credit-card add-padding" aria-hidden="true"></span> Account Payments
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/CashbackTransactions" Match="NavLinkMatch.All">
                <span class="bi bi-cash-coin add-padding" aria-hidden="true"></span> Cashback Transactions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/AccountPoints" Match="NavLinkMatch.All">
                <span class="bi bi-1-circle add-padding" aria-hidden="true"></span> Account Points
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/WalletAmount" Match="NavLinkMatch.All">
                <span class="bi bi-cash-stack add-padding" aria-hidden="true"></span> Cashback Amount
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/WalletTransferAmountView" Match="NavLinkMatch.All">
                <span class="bi bi-bank add-padding" aria-hidden="true"></span> Wallet Transfer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/MobileAccount" Match="NavLinkMatch.All">
                <span class="bi bi-wallet-fill add-padding" aria-hidden="true"></span> Has Wallet
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/TotalPoints" Match="NavLinkMatch.All">
                <span class="bi bi-arrow-up-circle add-padding" aria-hidden="true"></span> Update Points
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ServicePlanView" Match="NavLinkMatch.All">
                <span class="bi bi-currency-rupee add-padding" aria-hidden="true"></span> Service Plans
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ConsumptionRetrieve" Match="NavLinkMatch.All">
                <span class="bi bi-graph-up add-padding" aria-hidden="true"></span> Consumption
             </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/AllBenefits" Match="NavLinkMatch.All">
                <span class="bi bi-plus add-padding" aria-hidden="true"></span> Active Benefits
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/NotResolvedTickets" Match="NavLinkMatch.All">
                <span class="bi bi-ticket add-padding" aria-hidden="true"></span> Not Resolved Tickets
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/HighestVoucher" Match="NavLinkMatch.All">
                <span class="bi bi-receipt add-padding" aria-hidden="true"></span> Highest Voucher's ID
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/RemainingAmount" Match="NavLinkMatch.All">
                <span class="bi bi-journal-minus add-padding" aria-hidden="true"></span> Remaining Amount
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ExtraAmount" Match="NavLinkMatch.All">
                <span class="bi bi-journal-plus add-padding" aria-hidden="true"></span> Extra Amount
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/TopTenPayments" Match="NavLinkMatch.All">
                <span class="bi bi-1-square-fill me-1 add-padding" aria-hidden="true"></span><span class="bi bi-0-square-fill add-padding" aria-hidden="true"></span> Top 10 Payments
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/UnsubscribedPlansRetrieve" Match="NavLinkMatch.All">
                <span class="bi bi-view-list add-padding" aria-hidden="true"></span> Unsubscribed Plans
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/PlanUsageShow" Match="NavLinkMatch.All">
                <span class="bi bi-clipboard-data add-padding" aria-hidden="true"></span> Current Plan Usage
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/WalletCashbackView" Match="NavLinkMatch.All">
                <span class="bi bi-cash add-padding" aria-hidden="true"></span> Wallet Cashback Transactions
            </NavLink>
        </div>
    </nav>
</div>

