@page "/"
@rendermode InteractiveServer
@inject IDbContextFactory<ApplicationDbContext> DbFactory;

<PageTitle>Home</PageTitle>

<h1>Welcome to Notaphone</h1>

Welcome to your telecom app.

@code {

}
