@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<h1>
    Notaphone
</h1>

<div>
    <img style="margin: 0 auto; display: block" src="Notaphone_slogan.png" alt="slogan"/>
</div>
