@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<h1>
    Notaphone
</h1>

<div style="margin: 20px auto; width: 100%;">
    <img style="margin: 0 auto; display: block;" src="Notaphone_slogan.png" alt="slogan"/>
</div>
