@page "/MobileAccount"
@rendermode InteractiveServer
@inject IDbContextFactory<ApplicationDbContext> DbFactory;

<PageTitle>Account Has Wallet</PageTitle>

<h1>Account Has Wallet</h1>

<div class="table-container">

    <div class="form-style">
        <input type="text" name="walletID" placeholder="Mobile Number" @bind="mobileNo">
        <button @onclick="SubmitInput">Submit</button>
    </div>

    <table class="styled-table">
        <thead>
            <tr>
                <th>Has Wallet</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var wallet in hasWallet)
            {
                <tr>
                    <td>@wallet</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private List<Boolean> hasWallet = new();
    public String mobileNo = "";

    private async Task SubmitInput()
    {
        using var context = DbFactory.CreateDbContext();

        var result = await context.Database
            .SqlQuery<Boolean?>(
                $"SELECT dbo.Wallet_MobileNo({mobileNo})"
            )
            .ToListAsync();

        hasWallet = result.Select(amount => amount ?? false).ToList();

        StateHasChanged();
    }
}
