@page "/TotalPoints"
@rendermode InteractiveServer
@inject IDbContextFactory<ApplicationDbContext> DbFactory;

<PageTitle>Update Total Points</PageTitle>

<h1>Update Total Points</h1>

<div class="form-style">
    <input type="text" name="mobileNumber" @bind="mobileNo" />
    <button @onclick="SubmitInput">Submit</button>
</div>

@if (isDone)
{
    <p>done</p>
}

@code {
    private List<TotalPointsAccountResult> totalPointsAccountResults = new();
    private bool isDone = false;
    public string mobileNo = "";

    private async Task SubmitInput()
    {
        try
        {
            isDone = false;
            using var context = DbFactory.CreateDbContext();

            totalPointsAccountResults = await context.Database
                .SqlQuery<TotalPointsAccountResult>($"execute Total_Points_Account {mobileNo}")
                .ToListAsync();

            Console.WriteLine("done");
            isDone = true;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
            isDone = false;
        }

        StateHasChanged();
    }
}
