@page "/WalletAmount"
@rendermode InteractiveServer
@inject IDbContextFactory<ApplicationDbContext> DbFactory;

<PageTitle>Wallet Cashback Amount</PageTitle>

<h1>Wallet Cashback Amount</h1>

<div class="table-container">

    <div class="form-style">
        <input type="number" placeholder="Wallet ID" name="walletID" @bind="walletID">
        <input type="number" placeholder="Plan ID" name="planID" @bind="planID">
        <button @onclick="SubmitInput">Submit</button>
    </div>
    
    <table class="styled-table">
        <thead>
            <tr>
                <th>Cashback</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cashback in walletAmount)
            {
                <tr>
                    <td>@cashback</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private List<int> walletAmount = new();
    public int walletID;
    public int planID;

    private async Task SubmitInput()
    {
        using var context = DbFactory.CreateDbContext();

        var result = await context.Database
            .SqlQuery<int?>(
                $"SELECT dbo.Wallet_Cashback_Amount({walletID}, {planID})"
            )
            .ToListAsync();

        walletAmount = result.Select(amount => amount ?? 0).ToList();

        StateHasChanged();
    }
}
