@page "/BalanceRecharge"
@rendermode InteractiveServer
@inject IDbContextFactory<ApplicationDbContext> DbFactory;

<PageTitle>Balance recharge</PageTitle>

<h1>Balance recharge</h1>

<div class="form-style">
	<form @onsubmit=Submit>
		<input type="text" maxlength="11" pattern="[0-9]{11}" title="11-digit mobile no" placeholder="mobile no" @bind="mobileNo" required/>
		<input type="number" step=".1" min="0" title="plan id" placeholder="amount" @bind="amount" required/>
		<input type="text" maxlength="11" pattern="(cash|credit)" title="payment method (cash or credit)" placeholder="payment method" @bind="paymentMethod" required/>

		<button type="submit">Submit</button>
	</form>
</div>

@if (isDone)
{
    <p>done</p>
}

@code {
    private bool isDone = false;
    public string mobileNo = "";
    public decimal? amount;
    public string paymentMethod = "";

    private async Task Submit()
    {
        try
        {
            isDone = false;
            using var context = DbFactory.CreateDbContext();

            int rowsAffected = await context.Database
                .ExecuteSqlAsync($"execute Initiate_balance_payment {mobileNo}, {amount}, {paymentMethod}");

            Console.WriteLine("done");
            isDone = true;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
            isDone = false;
        }

        StateHasChanged();
    }
}
