@page "/HomeCustomer"
@inject IJSRuntime JSRuntime

<PageTitle>Home Customer</PageTitle>

<h1>Notaphone</h1>

<h2>Customer</h2>

<div>
    <img style="margin: 0 auto; display: block; width: 300px; height: 300px;" src="Notaphone_slogan.png" alt="slogan" />
</div>
