@page "/HomeCustomer"
@inject IJSRuntime JSRuntime

<PageTitle>Home Customer</PageTitle>

<h1 class="home">Notaphone</h1>

<h2>Customer</h2>

<div>
    <img style="margin: 0 auto; display: block; width: 200px; height: 200px;" src="Notaphone_slogan.png" alt="slogan" />
</div>
